<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.EmployeeMapper">
	<select id="selectAllEmployee" resultType="employee">
		select * from employee
	</select>
	<select id="searchEmployee" parameterType="map" resultType="employee">
		select * from employee where ${kind} like '%' || #{search} || '%'
	</select>
</mapper>